body {
	margin: 0;
}

.navbar {
	position: fixed;
	top:0;
	width:100%; 
	height: 60px;
	background: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 25px;
	box-sizing: border-box;
	z-index:1000;
	left: 0;
}

.nav-links{
	list-style: none;
	display: flex;
	gap: 25px;
}

.nav-links li a{
	color: #ddd;
	text-decoration:none;
	font-size: 16;
	transition:0,3s;
	
	background-color: grey;
	padding: 10px 20px;
	border-radius: 20px;
}

.nav-links li a:hover{
	background-color: white;
	padding: 10px 20px;
	border-radius: 20px;
	color: black;
	font-weight: bold;
}

.content {
	padding: 80px 20px;
	background: linear-gradient(135deg, #6a5af9, #5ac8fa);
	color:black;
	text-align: center;
	width: 100%;
}

.content a {
	color: #ddd;
	text-decoration:none;
	font-size: 16;
	transition:0,3s;
	
	background-color: grey;
	padding: 15px 30px;
	border-radius: 20px;
}

.content a:hover{
	background-color: white;
	padding: 10px 20px;
	border-radius: 20px;
	color: black;
	font-weight: bold;
}

.logo {
	background-color: white;
	color: black;
	border-radius: 30px;
	font-weight: bold;
	font-size: 21;
	padding: 15px;
}
